@charset "UTF-8";
/* 작성자 : 김준영 */
/* 참조 : https://inpa.tistory.com/ */


/* 바디 CSS   */
h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.frame {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

/* 버튼 CSS */
button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  width: 130px;
  height: 30px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-5 {
  background: #000;
  color: #fff;
  line-height: 29px;
  padding: 0;
  border: none;
}
/* hover : 마수스 올라가면 이벤트 만듬 */
.btn-5:hover {
  background: transparent;
  color: #000;
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}


/* 테이블 CSS */
table{
  width:100%;
  
}
.tbl-header{
  background-color: #a2a2a2;
 }
.tbl-content{
  height:500px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #a2a2a2;
}
tr{
  padding: 20px 15px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  color: #181818;
  text-transform: uppercase;
  vertical-align: center;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: #181818;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  vertical-align: center;
}

section{
    margin-top: 30px;
    margin-right: 400px;
    margin-bottom: 100px;
    margin-left: 400px;
  
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 5px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
    
    
/* 상품 정보 모달창 CSS */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

       /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

/* 리스트 점 삭제 */
li{
   list-style:none;
   width: 300px;
   text-align: left;
   }

ul {
	padding-left: 0px;
}

   


